<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="sidenavOpened()"
    class="app-sidenav"
    (closedStart)="sidenavOpened.set(false)">
    <app-sidebar (closeSidebar)="closeSidebarOnMobile()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <app-header
      [isMobile]="isMobile()"
      (toggleSidebar)="toggleSidebar()">
    </app-header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
